@using Microsoft.Graph
@using PreviewDay.Extensions

@{
    ViewData["Title"] = "Home Page";
    var lists = ViewData["ToDoLists"] as ITodoListsCollectionPage;
    var calendarEvents = ViewData["calendarEvents"] as IUserCalendarViewCollectionPage;
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["userFirstName"]</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>To Do Lists</h1>
            <div>
                <p>Priorty Level:</p>
                <p class="text-danger"><strong>Red</strong> - important</p>
                <p class="text-primary"><strong>Blue</strong> - normal</p>
            </div>

            @await Component.InvokeAsync("TaskLists", new {
                lists = lists
            })
            
    
        <div class="col">
            <h1>Calendar</h1>
            <div>
            @if(calendarEvents!.Count == 0)
            {
                <div>No calendar events for today</div>
            }
            else
            {
                @foreach(var evt in calendarEvents!)
                {
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@evt.Subject</h4>
                            <p class="card-text"><strong>Organizer:</strong> @evt.Organizer.EmailAddress.Name</p>
                            <p class="card-text"><strong class="text-success">Start:</strong> @evt.Start.DateTime.FormatStringToShortDateTimeString()</p>
                            <p class="card-text"><strong class="text-danger">End:</strong> @evt.End.DateTime.FormatStringToShortDateTimeString()</p>
                        </div>
                    </div>
                }
            }
            </div> 
        </div>
    </div>
</div>
