@using Microsoft.Graph;

@model List<PreviewDay.Models.ToDoList>

@foreach (var list in Model)
            {
                <div class="mb-4">
                    <h4>@list.ListName</h4>
                    <ul class="list-group">
                        @foreach (var task in list.Tasks!)
                        {
                            <li class="@(task.Importance == Importance.High ? 
                            "border-danger" : "border-primary") list-group-item border-primary"
                            >@task.Title
                                @if(task.SubTasks.Any())
                                {
                                    <ul>
                                        @foreach (var subTask in task.SubTasks)
                                        {
                                            <li>
                                                @subTask.DisplayName
                                            </li>
                                        }
                                        
                                    </ul>
                                }
                                @if(!String.IsNullOrEmpty(task.Content))
                                {
                                    <p>Note: @task.Content</p>
                                }
                            </li>
                            
                        }
                    </ul>
                </div>
            }
        </div>